<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Vue Basics</title>
  <link href="https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="styles.css" />
  <script src="https://unpkg.com/vue@next" defer></script>
  <script src="app.js" defer></script>
</head>

<body>
  <header>
    <h1>Vue Course Goals</h1>
  </header>
  <section id="user-goals">
    <h2>My course goals</h2>
    <input type="text" v-model="enteredGoal" />
    <button @click="addGoal">Add Goal</button>
    <p v-show="goals.length === 0">No goals have been added yet - please start adding some!</p>
    <!-- V-else needs to be used on a direct neighbor element of the element which has v-if. -->
    <!-- V-if really removes and adds elements from and to the DOM. So it really impacts which elements are part of the DOM.
         v-show on the other hand, just hides and show items with CSS. -->
    <ul v-show="goals.length !== 0">
      <!-- extracting the index of an array element -->
      <li v-for="(goal, index) in goals" @click="removeGoal(index)">{{index}} - {{goal}}</li>
    </ul>
    <!-- loop through objects -->
    <!-- extracting the key and index of an object -->
    <!--     <ul>
      <li v-for="(value, key, index) in user">{{index}} : {{key}} - {{value}}</li>
    </ul> -->
  </section>
</body>

</html>
